<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright © 2016-2017 Trejkaz <trejkaz@trypticon.org>
  ~ This work is free. You can redistribute it and/or modify it under the
  ~ terms of the Do What The Fuck You Want To Public License, Version 2,
  ~ as published by Sam Hocevar. See the COPYING.WTFPL file for more details.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.trypticon.android.love39watchface" >

    <uses-feature android:name="android.hardware.type.watch"/>

    <!-- Required to act as a custom watch face. -->
    <uses-permission android:name="com.google.android.permission.PROVIDE_BACKGROUND" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault" >

        <!-- TODO: This would handle data and messages between wearable and another device, but when your other device is an iPhone...
        <service
            android:name="org.trypticon.android.love39watchface.config.CompanionConfigListenerService"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
         -->

        <service
            android:name="org.trypticon.android.love39watchface.Love39WatchFace"
            android:label="@string/love39_name"
            android:permission="android.permission.BIND_WALLPAPER" >
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/preview_analog_rect"/>
            <meta-data
                android:name="com.google.android.wearable.watchface.preview_circular"
                android:resource="@drawable/preview_analog_circle"/>
            <!--TODO If I get a device I can test a companion with.
            <meta-data
                android:name="com.google.android.wearable.watchface.companionConfigurationAction"
                android:value="org.trypticon.android.love39watchface.config" /> -->
            <meta-data
                android:name="com.google.android.wearable.watchface.wearableConfigurationAction"
                android:value="org.trypticon.android.love39watchface.config" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />

                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>

        <activity
            android:name="org.trypticon.android.love39watchface.framework.WearableConfigActivity"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
            <intent-filter>
                <action android:name="org.trypticon.android.love39watchface.config" />
                <category android:name="com.google.android.wearable.watchface.category.WEARABLE_CONFIGURATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

    </application>
</manifest>
